version: "3.9"

services:
  php:
    container_name: php-magento-248
    build:
      context: ./docker/php
    ports:
      - 8000:9000
    volumes:
      - appdata:/var/www
      - ./src:/var/www/magento-248-src
      - ./docker/php/www.conf:/usr/local/etc/php-fpm.d/www.conf
      - ~/.ssh:/root/.ssh:ro
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      PHP_XDEBUG_ENABLED: 1
      XDEBUG_CONFIG: remote_host=host.docker.internal
      PHP_IDE_CONFIG: "serverName=magento248"
    networks:
      - magento_network

  nginx:
    container_name: nginx-magento-248
    build:
      context: ./docker/nginx
    ports:
      - 80:80
    volumes:
      - ./src:/var/www/magento-248-src       # exact 1:1 mapping with PHP container
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./docker/nginx/m2-config/nginx.conf:/var/www/magento-248/nginx.conf
    depends_on:
      - php
    networks:
      - magento_network

  db:
    container_name: mariadb-magento-248
    image: mariadb:10.6
    ports:
      - 3308:3306
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - magento_network

  mailhog:
    container_name: mail-magento-248
    image: mailhog/mailhog:latest
    platform: linux/amd64
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - magento_network

  redis:
    container_name: redis-magento-248
    image: redis:7
    networks:
      - magento_network

  redisinsight:
    container_name: redisinsight-magento-248
    image: redislabs/redisinsight:latest
    ports:
      - 8001:8001
    networks:
      - magento_network

  rabbitmq:
    container_name: rabbitmq-magento-248
    image: rabbitmq:3-management
    ports:
      - "15672:15672"
      - "5672:5672"
    networks:
      - magento_network

  opensearch:
    image: opensearchproject/opensearch:2.12.0
    container_name: opensearch-magento-248
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node                # required for single node cluster
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"    # JVM memory
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./docker/opensearch/opensearch.yml:/usr/share/opensearch/config/opensearch.yml
    networks:
      - magento_network

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.12.0
    container_name: opensearch-dashboards-magento-248
    ports:
      - 5601:5601
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch-magento-248:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: true
    networks:
      - magento_network

volumes:
  appdata:

networks:
  magento_network:
